@import "../node_modules/bootstrap/scss/bootstrap.scss";
:root {
  --bg-color-pink: #680c25;
  --color-white: aliceblue;
  --color-dark: rgb(28, 23, 23);
}

.dark-mode {
  background: var(--color-dark);
  color: var(--color-white);
}
@import "./main/main.scss";
@import "./nav/nav.scss";
@import "./favorite-items-container/fav-item-container.scss";
@import "./random-container/random.scss";
@import "./meal-info-container/meal-info.scss";
@import "./media-Query/media-Query.scss";
