.random-items-container {
  padding: 2rem;
  .card {
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  img {
    cursor: pointer;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .card-body {
    color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    button {
      border: none;
      background: none;
      color: rgb(176, 176, 176);
      font-size: 1.5rem;
    }
    .love {
      color: rgb(245, 124, 18);
    }
  }
}
